  .container {
    @media only screen and (min-width: 768px) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      max-height: 140px;
      min-height: 140px;
    }
    @media only screen and (max-width: 768px) and (min-width: 768px) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
  .logo {
    @media only screen and (min-width: 768px) {
      margin-left: 40px;
    }
  }

  .banner {
    @media only screen and (min-width: 768px) {
      margin-left: auto;
      margin-right: 40px;
    }
  }

  .contacts {
    @media only screen and (min-width: 768px) {
      margin-right: 40px;
    }
  }