.navigation {
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: center;
  max-height: 36px;

  & a {
    color: #fff;
    padding: 0 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:before {
      content: '◆';
      font-size: 14px;
      margin-right: 8px;
      text-decoration: none;
    }
  }
}