
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.article-description {
  overflow: hidden;
}

.display-none {
  display: none;
}

/*
.slick-arrow {
  display: none !important;
}
*/